.fondo {
    background-color: white;
    background: linear-gradient(180deg, #63FF60 0%, #FFF 100%);
}

.logo {
    max-width: 90px;
}

.imagen {
    max-width: 210px;
}

.icono {
    max-width: 50px;
}

.logoFooter {
    max-height: 50px;
}

.botonesIndex {
    text-decoration: none;
    color: white;
    background-color: #7B78FB;
    border-radius: 10px;
    padding: 5% 10% 5% 10%;
}

a:hover {
    color: white;
}

hr {
    margin: 10%;
}
.menu {
    max-width: 50px;
}

.piramide {
    width: 400;
}