@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap');

/* 

TODOS LOS "!important" SEGUIDOS DE UNA PROPIEDAD SE HAN INCORPORADO 
DEBIDO A QUE BOOTSTRAP LOS CONSIDERA NECESARIOS PARA ASEGURARSE DE QUE 
ANULAN COMPONENTES Y CLASES DE MODIFICADORES SEGÚN LO PREVISTO.

EL ORDEN QUE SE HA SEGUIDO A LA HORA DE DESARROLLAR EN ESTE FICHERO HA SIDO
PRIMERO ETIQUETAS, LUEGO CLASES Y POR ÚLTIMO MEDIA QUERYS (DENTRO SIGUE EL ORDEN MENCIONADO).


*/

* {
    font-family: 'Inria Sans', sans-serif;
    line-height: 1.5;
    font-size: 1.05em;
}

a:hover {
    color: black;
}

hr {
    margin: 3em;
}

section p {
    padding: 1em;
}

a {
    text-decoration: none;
    color: white;
}

footer p {
    font-size: small;
    text-align: center;
    font-weight: 700;
}

.fondo {
    background-color: white;
    background: linear-gradient(180deg, #63FF60 0%, #FFF 100%);
}

.logo {
    max-width: 90px;
}

.imagen {
    max-width: 210px;
}

.marginX3 {
    margin-left: 1rem!important;
    margin-right: 1rem!important;
}

.ancho3 {
    font-size: 1.75rem;
}

.negrita {
    font-weight: 700!important;
}

.textoBlanco {
    color: #ffffff!important;
}

.marginTop3 {
    margin-top: 1rem!important;
}

.marginTop5 {
    margin-top: 3rem!important;
}

.fondoOscuro {
    background-color: #212529!important;
}

.fotoAdaptada {
    max-width: 100%;
    height: auto;
}

.centrarX {
    margin-left: auto!important;
    margin-right: auto!important;
}

.flex {
    display: flex!important;
}

.justificarBetween {
    justify-content: space-between!important;
}

.listaSinEstilo {
    padding-left: 0;
    list-style: none;
}

.centrarTexto {
    text-align: center!important;
}

.imagenUsos {
    max-width: 100%;
    height: auto;
    padding: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icono {
    height: 40px;
    margin-bottom: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logoFooter {
    height: 70px;
    display: block;
    margin: auto;
}

.botonesIndex {
    margin: 1.5em;
    text-decoration: none;
    color: white;
    background-color: #7B78FB;
    border-radius: 10px;
    padding: 1em;
    width: 150px;
}

.botonShow {
    display: block;
    margin: auto;
    margin-top: 10%;
    text-decoration: none;
    color: white;
    background-color: #7B78FB;
    border-radius: 10px;
    padding: 1em;
    width: 170px;
}

.botonPremium {
    display: block;
    margin: auto;
    margin-top: 1em;
    text-decoration: none;
    color: white;
    background-color: #7B78FB;
    border-radius: 10px;
    padding: 1em;
    width: 170px;
}

.menu {
    max-width: 50px;
}

.piramide {
    width: 400px;
}

.controlMargin {
    margin-top: 20px;
}

.prueba p {
    margin-top: 2em;
    background-color: #fff;
    border-radius: 10px;
}

.seccionUsos {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 20px 20px 0px 0px;
    min-width: 400px;
    margin-bottom: -1px;
}

.seccionUsos2 {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 20px 20px 20px 20px;
    min-width: 400px;
    margin-bottom: 0;
}

.seccionUsosAbajo {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
    min-width: 400px;
}

.cardcustom {
    display: flex;
    justify-content: center;
}

.textoAsistencia {
    padding: 1em;
}

/* FORMULARIO */

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: medium;
    margin-top: 3em;
    margin-bottom: 4em;
    border: 1px solid black;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #7B78FB;
    color: white;
}

iframe {
    width: 100%;
    border: none;
    margin-top: 3em;
    margin-bottom: 4em;
}

.centrado {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.containerf {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.mtw {
    margin-top: 3em;
}

/* MEDIA QUERYS */

/* MEDIA QUERY PARA TAMAÑO SM */

@media screen and (min-width:576px) {

    a:hover {
        color: white;
    }

    footer p {
        font-size: x-small;
    }

    .icono {
        height: 30px;
    }

    .prueba p {
        margin-top: 1em;
        background-color: transparent;
    }

    .fondo-sm {
        background-color: #7B78FB;
        color: white;
    }

    .centrar-sm {
        justify-content: center!important;
    }
}

/* MEDIA QUERY PARA TAMAÑO MD */

@media screen and (min-width:768px) {

    .centrar-md{
        justify-content: space-between!important;
    }
}

/* MEDIA QUERY PARA TAMAÑO MD COMO MÁXIMO */

@media(max-width: 768px) {
    .container {
        margin: 10px;
        padding: 10px;
    }
}

/* MEDIA QUERY PARA TAMAÑO LG */

@media screen and (min-width:992px) {

    a {
        color: black;
    }

    a:hover {
        color: black;
    }

    footer p {
        font-size: x-large;
    }

    .prueba {
        padding-top: 4em;
        font-size: 1.5em;
    }

    .icono {
        height: 50px;
    }

    .img-fluida {
        max-width: 90%;
        height: auto;
    }

    .fondo-lg {
        background-color: transparent;
    }

}
